<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>

<body>
    <h1>Make a new comment</h1>
    <form action="/comments" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <br>
        <div>
            <label for="comment">Comment</label>
            <textarea name="comment" id="comment" cols="20" rows="5"></textarea>
        </div>
        <br>
        <button type="submit">Post</button>
    </form>

</body>

</html>